.carousel {
    position: relative;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
  }
  
  .carousel .slide img {
    position: relative;
    height: 65vh;
    object-fit: cover;
  }