.content_wrapper_3AhOy {
  flex: 1 1 auto;
  display: flex;
  overflow: visible;
  width: 100%;
  max-width: 100vw;
  position: relative;
  flex-direction: column;
}
.content_1rB_s {
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  position: relative;
}
.gallery_section_tEM20 {
  width: 100%;
  position: relative;
}

.content_1rB_s [data-auto-id="image_viewer"] {
  display: block;
}
.image_viewer_3hBak {
  height: 100vw;
  width: 100%;
  position: relative;
  user-select: none;
}
.image_viewer_view_list_container_WEl65 {
  height: 100vw;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #edeff0;
  overflow-x: hidden;
  justify-content: center;
}

@media (min-width: 960px) {
  .content_wrapper_3AhOy {
    flex-direction: row;
  }
  .image_viewer_3hBak {
    height: calc(100vh - 300px);
    min-height: 600px;
    max-height: 2000px;
  }
  .image_viewer_view_list_container_WEl65 {
    height: calc(100vh - 300px);
    min-height: 600px;
    max-height: 2000px;
  }
}