.bottom-footer-wrapper{
  padding:20px;
background-color: rgb(57, 57, 57);
color:white;
height:200px;
}
.line{
font-size: 30px;
margin-top: 13px;
font-weight: 100;
}
.bottom-text-bottom-footer{
  margin-left: -800px;
  padding:30px
}