.at-mens-main{
    margin: 0;
    padding: 0;
}
.at-mens-sec-top{

    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enIN/Images/adidas-lego-originals-ss22-flex-launch-clp-masthead-d_tcm209-823156.jpg");

}
.at-mens-sec-top>div{
    /* background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/enIN/Images/football-fw22-x-speedportal-pre-launch-glp-m-mh-large-d_tcm209-906853.jpg") ; */
    width: 25%;
    /* height: vh; */
    margin: 0;
    padding: 0;
    color: white;
    /* border: 3px solid yellow; */
    padding-top: 14%;
    padding-bottom: 14%;
    margin-left: 8%;
}
.at-mens-sec-top>div>h1{
   font-size: 40px;
   text-align: left;
   margin: 0;
   padding: 0;
   margin-bottom: 1%;
}
.at-mens-sec-top>div>div{
   font-size: 17px;
   text-align: left;
}
.at-mens-sec-top>div>div>button{
  background-color: white;
  padding: 4% 10%;
  color: black;
  margin-top: 6%;
}

 .at-mens-sec-mid{
    width: 100%;
    padding: 0%;
    margin: 0%;
    /* border: 5px solid blue; */
    height: 675px;
}
 .at-mens-sec-mid>div{
    width: 100%;
    /* border: 5px solid green; */
    padding: 0%;
    margin: 0%;
}
 .at-mens-sec-mid>div>video{
    /* background: url("https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/running-fw22-supernova-launch-glp-m-masthead-large-d_wcetta.mp4"); */
    width: 100%;
    padding: 0;
    margin: 0;
}
.at-mens-sec-mid>div:nth-child(2){

    width: 25%;
    margin: 0;
    padding: 0;
    color: black;
    padding-top: 13%;
    padding-bottom: 13%;
    /* margin-left: 8%; */
    position:relative;
    bottom: 650px;
    left: 8%;
    /* border: 1px solid yellow; */
}
.at-mens-sec-mid>div:nth-child(2)>h1{
   font-size: 40px;
   text-align: left;
   margin: 0;
   padding: 0;
   margin-bottom: 1%;
   /* border: 1px solid yellow; */
}
.at-mens-sec-mid>div:nth-child(2)>div{
   font-size: 17px;
   text-align: left;
}
.at-mens-sec-mid>div:nth-child(2)>div>button{
  background-color: black;
  padding: 4% 10%;
  color: white;
  margin-top: 6%;
}

.at-mens-sec-bottom>div{
    background-color: #eceff1;
    padding: 0;
}
.at-mens-sec-bottom>div>img{
    width:70%;
    margin: auto;
    margin-top: 0%;
}
.at-mens-sec-bottom>div>div:nth-child(2){
    margin-top: 5%;
    margin-bottom: 5%;

}
.at-mens-sec-bottom>div>div:nth-child(2)>a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.at-mens-sec-bottom>div>div:nth-child(2)>a:hover{
    color: black;
    text-decoration: underline;
}
.at-mens-sec-bottom{
    background-color: #eceff1;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1.5%;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: white;
}